:root {
  --lightcream: #f6f1e9;
  --cream: #ffd93d;
  --yellow: #ffed00;
  --orange: #ff8400;
  --redorange: #4f200d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-serif, Verdana, Tahoma;
  text-decoration: none;
  /*outline: 1px solid red;*/
}
body {
  background-color: var(--lightcream);
}
.topWebHeader,
main,
footer {
  padding: 0rem 2rem;
}
/**Top main heather*/
.topWebHeader {
  width: 100%;
  min-height: 20vh;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  grid-template-rows: 1 ft 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "c c"
    "a a"
    "b b";
}
.boxA {
  grid-area: a;
}

.boxB {
  grid-area: b;
}

.boxC {
  grid-area: c;
}

.topWebHeader h1,
nav {
  width: 100%;
  text-align: center;
}
.h1Title {
  font-size: 3rem;
  padding: 5px;
  text-shadow: var(--orange) 4px 3px 3px;
}

.navTopBar a,
.footerNav a {
  background-color: var(--redorange);
  color: var(--lightcream);
  font-size: 0.8rem;
  padding: 8px;
  border-radius: 5px;
  box-shadow: var(--orange) 3px 3px 5px;
}

.navTopBar a {
  display: inline-block;
  font-weight: 400;
  margin: 20px 50px 10px 50px;
}

.bannerContainer {
  display: block;
  object-fit: cover;
  height: 250px;
}

.bannerTopHeader {
  object-fit: cover;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}
/* Main*/
main {
  min-height: 65vh;
}
.gridContainer {
  border-radius: 7px;
  margin: auto;
  text-align: center;
  max-width: 700px;
  background-color: var(--cream);
  box-shadow: -2px 10px 40px 0px var(--cream);
  margin-top: 40px;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1 ft 1fr 1fr;
  gap: 0px 0px;
  justify-items: center;
  grid-auto-flow: row;
  grid-template-areas:
    "d f"
    "g g"
    "e e";
}
.boxD {
  grid-area: d;
}

.boxE {
  grid-area: e;
}

.boxF {
  grid-area: f;
}
.boxG {
  grid-area: g;
}

.eventTitle,
.containerPhotos {
  border-radius: 7px;
}
.eventTitle {
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--lightcream);
  background-color: var(--redorange);
  margin-top: 20px;
}

.figureA,
.divContainer {
  display: inline-block;
  margin-top: 20px;
}
.figureA {
  text-align: center;
}
.figureA img {
  margin: 25px;
  width: 40%;
  background-color: var(--orange);
  border-radius: 20%;
}
.divContainer {
  text-align: center;
}
.divContainer p {
  padding-top: 2.5px;
  padding-left: 20px;
  font-size: 0.9rem;
}

.boxsContainer,
.figureB img {
  border-radius: 7px;
}
.boxsContainer {
  margin-top: 10px;
  padding: 20px;
  background-color: var(--orange);
}
.contactCard {
  padding: 60px;
}
.containerPhotos {
  margin-top: 20px;

  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: var(--redorange);
}
.figureB {
  margin: 10px;
  display: inline-block;
  padding: 10px;
  width: 25%;
}
.figureB img {
  box-shadow: 0px 5px 10px 5px var(--orange);
  width: 100%;
  object-fit: fill;
}
/* Footer*/
footer {
  margin-top: 40px;
  padding: 10px;
  min-height: 15vh;
  background-color: var(--blue);
  text-align: center;
}
.footerNav a,
footer p {
  padding: 10px;
}
.footerNav a {
  margin: 5px;
}
footer p {
  margin-top: 20px;
  font-size: 1rem;
  color: var(--redorange);
}

/* effects */
a[href="#"] {
  background-color: var(--yellow);
  color: rgb(19, 19, 17);
}
a[href="#top"] {
  background-color: var(--yellow);
  color: rgb(18, 19, 17);
}
a:hover {
  background-color: rgb(160, 123, 209);
  color: blue;
}

#contact:hover {
  background-color: var(--redorange);
  color: var(--cream);
}
#contact,
.navTopBar a,
.footerNav a {
  transition: background-color 0.5s;
}
.figureB {
  transition: all 0.6s;
}
.figureB:hover {
  transform: scale(1.5);
}
