:root {
  --lightgrey: #f1efef;
  --mediumgrey: #ccc8aa;
  --grey: #7d7c7c;
  --black: #191717;
  --lightcream: #f6f1e9;
  --cream: #ffd93d;
  --orange: #ff840098;
  --redorange: #4f200d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-serif, Verdana, Tahoma;
  text-decoration: none;
  /* outline: 1px solid red; */
}
body {
  padding: 0rem 4rem 0rem 4rem;
  background-color: var(--mediumgrey);
}
/**Top main heather*/
.topWebHeader {
  min-height: 20vh;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.h1Title {
  text-align: center;
  width: 60%;
  font-size: 2rem;
  padding: 5px;
  text-shadow: var(--lightgrey) 4px 3px 3px;
}
.navTopBar a,
.footerNav a {
  background-color: var(--black);
  color: var(--lightgrey);
  font-size: 0.8rem;
  padding: 8px;
  border-radius: 5px;
  box-shadow: var(--grey) 3px 3px 5px;
}
.navTopBar a {
  display: inline-block;
  font-weight: 400;
  position: relative;
  top: 20px;
  margin: 0px 5px;
}
/* banner image top */
.bannerContainer {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.bannerTopHeader {
  object-fit: cover;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}
/* Main*/
main {
  min-height: 65vh;
}
.cardsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.eventTitleContainer {
  width: 100%;
  border: 3px solid black;
  text-align: center;
  background-color: var(--black);
}
.eventTitle {
  padding: 10px;
  font-size: 1.5rem;
  color: var(--lightgrey);
}
.figureA,
.divContainer {
  margin-top: 30px;
}
.figureA {
  width: 25%;
  max-width: 200px;
}
.figureA img {
  width: 100%;
}
.divContainer {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.divContainer p {
  padding-top: 2.5px;
  padding-left: 20px;
  font-size: 0.9rem;
}
.boxsContainer,
.containerPhotos,
.figureB img {
  border-radius: 7px;
}
.boxsContainer {
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  background-color: var(--lightgrey);
  box-shadow: -2px 10px 20px 0px rgba(0, 0, 0, 0.75);
}
.boxsContainer > article {
  margin: 15px 0px;
}
.boxsContainer h3 {
  padding: 1rem;
  text-align: center;
}

/* Schedule game info page */
.scheduleTitle {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: -2px 2px 2px var(--cream);
}
/* left container game info */

.leftBar {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.leftBar figure {
  width: 100%;
}
.leftBar article {
  padding: 20px 0px;
}
.lBarTitle {
  display: none;
}
.leftBar h4 {
  padding: 7px;
  font-size: 1.4rem;
  text-shadow: -2px 2px 2px var(--orange);
}
.leftBar iframe {
  border-radius: 7px;
  box-shadow: -2px 2px 5px var(--black);
}

/* contact page */
.contactMDHL {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.contactMDHL p {
  padding: 0px 0px 0px 5px;
}
/* Rules list page*/
.sportsmanship {
  list-style-type: none;
}
.fieldsUsed {
  list-style: lower-alpha;
}
.fieldsUsed li {
  margin-inline: 20px 0px;
}
ol,
ul,
.fieldsUsed {
  list-style-position: inside;
}
li {
  margin-top: 10px;
}
.highlighted {
  font-weight: bold;
}
.highlighted,
li,
p {
  font-size: 0.9rem;
}

.all-play {
  list-style-type: circle;
  margin-inline: 30px 0px;
}

/*Games info table page*/
.tableContainer {
  display: flex;
  justify-content: center;
}
table {
  padding: 20px 0px;
}
th {
  padding: 10px 0px;
}
td {
  text-align: end;
  padding: 0px 10px;
  font-size: 0.9rem;
}
.tableInfo article {
  padding: 0px 1rem;
}
.informationPlace,
.infoCoordinator,
.infoContact,
.infoPhone,
.infoEmail {
  display: flex;
  flex-wrap: wrap;
}
.infoContact {
  justify-content: space-evenly;
}
.infoEmail {
  align-self: center;
}
.infoPhone a,
.infoEmail a {
  transition: all 0.6s;
}
.informationPlace p,
.infoCoordinator p,
.infoContact p {
  padding: 0px 0px 0px 5px;
}
.additionalInfo,
.contactInfoContainer div {
  padding: 10px 0px;
}
/*Form player registration */
.registrationTitle {
  font-size: 1.5rem;
  padding: 10px;
  text-shadow: -2px 0px 2px var(--cream);
  text-align: center;
}
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
fieldset {
  padding: 1.2rem;
  margin: 15px 0px;
  max-width: 700px;
  width: 100%;
}
legend {
  padding: 5px;
  background-color: var(--lightcream);
}

.blockForm {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.blockForm label,
.blockForm p {
  padding: 5px;
}
.gradeBlock label {
  justify-content: space-around;
}
legend,
select,
input {
  border-radius: 5px;
  border: 0.5px solid var(--grey);
  transition: all 0.6s;
}
.notRadio,
select {
  text-align: center;
  box-shadow: 2px 2px 2px -2px var(--black);
  padding: 4px 0px;
}
.radioOn {
  transition: all 0.6s;
}
.birthDate {
  margin-right: 30px;
}
.gradeForm,
.genderBlock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.gradeForm p,
.genderBlock p {
  font-size: 1rem;
}
.addressForm {
  width: 100%;
}
.addressForm input {
  width: 60%;
}
.city input,
.fName input,
.lName input,
.addressForm input,
.zipCode input {
  margin-left: 5px;
}

.zipCode input {
  width: 40%;
}
.city input,
.fName input,
.lName input {
  width: 55%;
}

/* Closest school form */
.closestS select {
  margin-left: 10px;
}

/* Position player// Uniform form */
.playerPosition label,
.uniformSize label {
  margin-right: 10px;
}

/* Permission play form */
.permissionPlay p {
  margin-bottom: 10px;
}
.permissionPlay label {
  margin-right: 20px;
}
/* Button submit */
button {
  width: 130px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 40px;
  transition: all 0.6s;
}
select,
button {
  cursor: pointer;
}

/* Direction maps  */

.directions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.directions h5 {
  align-self: flex-start;
}
.mapContainer {
  height: 20px;
}
.frameMap {
  padding: 10px;
  width: 100%;
  height: 30%;
}
.mapContainer,
.frameMap {
  transition: all 0.6s;
}

/*Photo bottom section*/
.containerPhotos {
  margin-top: 5rem;
  padding: 10px;
  text-align: center;
  background-color: rgba(216, 192, 114, 0.733);
  box-shadow: -3px 5px 20px 0px rgba(255, 166, 0, 0.534);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}
.figureB {
  padding: 10px;
  width: 25%;
}
.figureB img {
  box-shadow: -2px 10px 20px 0px rgba(0, 0, 0, 0.75);
  width: 100%;
  object-fit: fill;
}
/* Footer*/
footer {
  margin-top: 40px;
  padding: 10px;
  min-height: 15vh;
  background-color: var(--blue);
  text-align: center;
}
.footerNav a,
footer p {
  padding: 10px;
}
.footerNav a {
  margin: 5px;
}
footer p {
  margin-top: 20px;
  font-size: 1rem;
  color: var(--black);
}

/* effects */
a[href="#"] {
  background-color: var(--lightgrey);
  color: var(--black);
}
a[href="#top"] {
  background-color: var(--lightgrey);
  color: var(--black);
}
.navA a:hover {
  background-color: lightblue;
  color: var(--black);
}
.footA a:hover {
  background-color: lightblue;
  color: var(--black);
}
#contact:hover {
  background-color: var(--black);
  color: var(--mediumgrey);
}
#contact,
.navA a,
.footA a {
  transition: background-color 0.5s;
}
.figureB {
  transition: all 0.6s;
}
.figureB:hover {
  transform: scale(1.5);
}
input:hover {
  background-color: var(--cream);
  color: var(--black);
}
select:hover {
  background-color: var(--cream);
  color: var(--black);
}
button:hover {
  background-color: var(--orange);
  color: var(--lightcream);
  border-radius: 10px;
  font-size: 1.5rem;
  width: 150px;
  padding: 20px;
  font-weight: 700;
}
.radioOn:hover {
  background-color: var(--orange);
  color: var(--black);
  border-radius: 7px;
}
.frameMap:hover {
  height: 220px;
  padding: 10px;
  background-color: var(--orange);
  border-radius: 7px;
}
.mapContainer:hover {
  margin-bottom: 250px;
  background-color: var(--cream);
  border-radius: 10px;
}
.infoPhone a:hover {
  background-color: lightblue;
  border-radius: 7px;
  color: var(--redorange);
  padding: 0px 7px;
  font-weight: 700;
}
.infoEmail a:hover {
  background-color: lightblue;
  border-radius: 7px;
  color: var(--redorange);
  padding: 0px 7px;
  font-weight: 700;
}
tr:hover {
  background-color: var(--cream);
}
