:root {
  font-size: 22px;
  text-align: center;
}

/* H1 MDHL*/
h1 {
  font-size: 2rem;
}

/*Header*/
.topWebHeader {
  background: red;
  display: grid;
  grid-template-columns: auto-fit 0.75fr 1.25fr;
  grid-template-rows: 1.25fr 0.75fr;
  gap: 10px;
}
