
/* H1 MDHL*/
h1 {
    font-size: 2rem;
  }
  
  /*Header top bar*/
  .topWebHeader {
    background: red;
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 0.6fr 1.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "b c"
      "a a";
  }
  
  .figureA {
    grid-area: a;
  }
  
  .h1B {
    grid-area: b;
  }
  
  .navC {
    grid-area: c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  